In [1]:
import requests
import json
import csv

In [2]:
import pandas as pd

query = """
SELECT DISTINCT SUBSTR(state_county_code, 3, 5) AS state_county_code, state_code FROM `fccdsicapstone-218522.broadband.census_block` 
"""

table = pd.read_gbq(query, project_id='fccdsicapstone-218522', dialect='standard')

In [3]:
table.head()

  state_county_code state_code
0               011         01
1               043         01
2               121         01
3               083         01
4               131         01

In [15]:
first_part = "https://api.census.gov/data/2015/acs/acs5?get=B02001_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_007E,B02001_008E,B03003_001E,B03003_002E,B03003_003E,B14007_001E,B14007_017E,B14007_018E,B14007_019E,B15003_001E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B19013_001E,B23025_003E,B23025_004E,B23025_005E,B25003_001E,B25003_002E,B25003_003E&for=block%20group:*&in=state:"
second_part = "%20county:"
third_part = "&key=e03e8ba74bfd978f1d4d261028f39729f5a929c7"

In [30]:
first_part = "https://api.census.gov/data/2016/acs/acs5?get=B01001_001E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B25077_001E,B27010_001E,B27010_017E,B27010_033E,B27010_050E,B27010_066E&for=block%20group:*&in=state:"
second_part = "%20county:"
third_part = "&key=e03e8ba74bfd978f1d4d261028f39729f5a929c7"

In [24]:
first_part = "https://api.census.gov/data/2014/acs5?get=B01001_001E,B01001_006E,B01001_007E,B01001_008E,B01001_009E,B01001_010E,B01001_011E,B01001_012E,B01001_013E,B01001_030E,B01001_031E,B01001_032E,B01001_033E,B01001_034E,B01001_035E,B01001_036E,B01001_037E,B25077_001E,B27010_001E,B27010_017E,B27010_033E,B27010_050E,B27010_066E&for=block%20group:*&in=state:"
second_part = "%20county:"
third_part = "&key=e03e8ba74bfd978f1d4d261028f39729f5a929c7"

In [6]:
first_part = "https://api.census.gov/data/2015/acs/acs5?get=B01003_001E&for=block%20group:*&in=state:"
second_part = "%20county:"
third_part = "&key=e03e8ba74bfd978f1d4d261028f39729f5a929c7"

In [3]:
first_part = "https://api.census.gov/data/2014/acs5?get=B01003_001E&for=block%20group:*&in=state:"
second_part = "%20county:"
third_part = "&key=e03e8ba74bfd978f1d4d261028f39729f5a929c7"

In [4]:
i = 0
for index, row in table.iterrows():
    i = i + 1
    
    if(i % 100 == 0):
        print(i)
    
    url_string = first_part + str(row['state_code']) + second_part + str(row['state_county_code']) + third_part
    response = requests.get(url_string)
    
    if(response.status_code == 200):
        current_json = response.content

    if(i == 1):
        my_json = current_json.decode('utf8').replace("'", '"')
        data = json.loads(my_json)
        true_colnames = data.pop(0)
        s = json.dumps(data)
        all_data = pd.read_json(s)
        all_data.columns = true_colnames

        
    else:
        my_json = current_json.decode('utf8').replace("'", '"')
        data = json.loads(my_json)
        colnames = data.pop(0)
        if(colnames == true_colnames):
            s = json.dumps(data)
            current_df = pd.read_json(s)
            current_df.columns = colnames
            all_data = all_data.append(current_df)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100

In [5]:
all_data.to_csv("acs2014_blockgroup_pop.csv")